@font-face 
{
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 400;
    src: url('woff/IRANSansX-Regular.woff') format('woff'),
         url('woff2/IRANSansX-Regular.woff2') format('woff2');
}

@font-face 
{
    font-family: IRANSansXFaNum;
    font-style: normal;
    src: url('woff/IRANSansXFaNum-Regular.woff') format('woff'), 
         url('woff2/IRANSansX-Regular.woff2') format('woff2');
}

@font-face 
{
    font-family: IRANSansX-Bold;
    font-style: normal;
    font-weight: 700;
    src: url('woff/IRANSansX-Bold.woff') format('woff'), url('woff2/IRANSansX-Bold.woff2') format('woff2');
}

@font-face 
{
    font-family: IRANSansXFaNum-Bold;
    font-style: normal;
    font-weight: 700;
    src: url('woff/IRANSansXFaNum-Bold.woff') format('woff'), url('woff2/IRANSansXFaNum-Bold.woff2') format('woff2');
}

.iransans
{
    font-family: IRANSansX, sans-serif;
}

.iransans-fa-num 
{
    font-family: IRANSansXFaNum, sans-serif;
}

.iransans-bold
{
    font-family: IRANSansX-Bold, sans-serif;
}

.iransans-fa-num-bold
{
    font-family: IRANSansXFaNum-Bold, sans-serif;
}